<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width= device-width, intial scale=1">
  <title>MAD4DUMBELLS</title>
  <link rel="stylesheet" href={{url_for('static',filename='bootstrap.css')}}>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href={{url_for('static',filename='main.css')}}>

</head>


<body>

  <div class="modal fade" id="project0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">CAR GOALS</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" src="https://s1.cdn.autoevolution.com/images/news/gallery/individual-bmw-m6-gran-coupe-stuns-with-its-british-racing-green-paint-photo-gallery_1.jpg">
          <h2>GRAN COUPE</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">CAR GOALS</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" src="https://www.cstatic-images.com/stock/900x600/1433187084363.jpg">
          <h2>HOT WHEELS</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="project2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">CAR GOALS</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" src="https://robbreportedit.files.wordpress.com/2016/09/01-mulsanne-speed-barnato1.jpg">
          <h2>INSANE MULSANNE</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="project3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">CAR GOALS</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/mercedes-g63-amg-6x6-sdfks-1.jpeg?itok=v22byi1a">
          <h2>KILLING MACHINE</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="project4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">CAR GOALS</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" src="https://images.cdn.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/ferrari-458-speciale-rt-1-22.jpg?itok=3-MVCwHb">
          <h2>FERRARI LEGEND PETROL PETROL SHARE IS A MUST</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="project5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">CAR GOALS</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" src="http://cdn2.carbuyer.co.uk/sites/carbuyer_d7/files/jaguar-f-type-roadster-1.jpg">
          <h2>IDIOT'S JAGUAR</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="project6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">CAR GOALS</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" src="https://www.topgear.com/sites/default/files/styles/16x9_1280w/public/images/cars-road-test/2016/06/94f78c1966e3f7bb25efae035ec6280d/a1510803_large.jpg?itok=XarBKSpR">
          <h2>BORING AUDI</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="project7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">CAR GOALS</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" src="http://media.caranddriver.com/images/media/51/04-porsche-911-r-843-photo-667954-s-original.jpg">
          <h2>VERY FAST PORSCHE</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="project8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">CAR GOALS</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" src="http://st.motortrend.com/uploads/sites/10/2016/10/2017-Land-Rover-Range-Rover-front-three-quarter-02.jpg">
          <h2>CAN GO ANYWHERE RANGEROVER GOES NOWHERE ,DIESEL NNE ENNA VELAYAADAVE</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <center><img src="https://img1.etsystatic.com/218/0/13221305/il_340x270.1263733595_7zxu.jpg" alt ="MAD LOGO"></center>
        </div>
        <div class="col-md-12 text-center">
          <h1>MAD FOR DUMBELLS</h1>
        </div>
        <div class="col-md-12 text-center">
          <h4> <center>Kerivada makkale</center></h4>
        </div>
    </div>
  </div>

  
  <div class="container">
    <div class="row"><center>
      <div class="col-md-4">
        <img class="circl" src={{url_for('static',filename='sunny.jpg')}} data-toggle="modal" data-target="#project0" class="img-responsive">
        <h4>SUNNY</h4>
      </div>
      <div class="col-md-4">
        <img class="circl c" src={{url_for('static',filename='abin.jpg')}}  data-toggle="modal" data-target="#project1" class="img-responsive">
        <h4>ABIN</h4>
      </div>
      <div class="col-md-4">
        <img class="circl" src={{url_for('static',filename='shaji.jpg')}}  data-toggle="modal" data-target="#project2" class="img-responsive">
        <h4>BASIL</h4>
      </div></center>
    </div>
    <div class="row"><center>
      <div class="col-md-4">
        <img class="circl" src={{url_for('static',filename='ep.jpg')}}  data-toggle="modal" data-target="#project3" class="img-responsive">
        <h4> OOPS</h4>
      </div>
      <div class="col-md-4">
        <img class="circl" src={{url_for('static',filename='skaria.jpg')}}  data-toggle="modal" data-target="#project4" class="img-responsive">
        <h4>SKARIAP</h4>
      </div>
      <div class="col-md-4">
        <img class="circl" src={{url_for('static',filename='john.jpg')}}  data-toggle="modal" data-target="#project5" class="img-responsive">
        <h4>PBODY</h4>
      </div></center>
    </div>
    <div class="row"><center>
     <div class="col-md-4">
        <img class="circl" src={{url_for('static',filename='philipose.jpg')}}  data-toggle="modal" data-target="#project6" class="img-responsive">
        <h4>PALLY</h4>
      </div>
      <div class="col-md-4">
        <img class="circl" src={{url_for('static',filename='steve.jpg')}}  data-toggle="modal" data-target="#project7" class="img-responsive">
        <h4>STEVE</h4>
      </div>
      <div class="col-md-4">
        <img class="circl" src={{url_for('static',filename='thomas.jpg')}}  data-toggle="modal" data-target="#project8" class="img-responsive">
        <h4>TOMA</h4>
      </div></center>
    </div>
  </div>


</body>

</html>
